.App {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 100%;
}

.App-header {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 68px;
    z-index: 10;
}

.App-main {
    padding: 0 1em;
}

.App-footer {
    display: flex;
    justify-content: left;
    align-items: center;
    color: #c2c2c2;
    font-weight: 400;
    font-size: 12px;
    padding: 1em;
    padding-bottom: env(safe-area-inset-bottom);
}

a {
    color: #ddd;
    font-weight: 600;
}

a:hover {
    color: #fff;
}

.big {
    margin: 0;
    width: 100%;
    text-align: center;
    font-size: 25vw;
    font-weight: 100;
    z-index: 1;
    mix-blend-mode: difference;
}

.big-container {
    display: flex;
    align-items: center;
    flex: 100%;
    padding: 0;
    background-image: url("waved.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.nav-item {
    padding: 1em;
}

.App-logo {
    display: inline;
    width: 2rem;
}
